body {
  padding: 10px;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Icons';
  src: url("/themes/default/assets/fonts/icons.eot");
  src: url("/themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("/themes/default/assets/fonts/icons.woff2") format('woff2'), url("/themes/default/assets/fonts/icons.woff") format('woff'), url("/themes/default/assets/fonts/icons.ttf") format('truetype'), url("/themes/default/assets/fonts/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}